name: CI

on: [push, workflow_dispatch]

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build
        run: |
          ant
          mkdir cxclient_alpha
          mv cxclient.jar cxclient_alpha/cxclient_alpha.jar
          sed "s/\$TIME/`date +'%Y-%m-%dT%H:%M:%S%:z'`/g;s/\$ID/cxclient_alpha/g" cxclient.template.json > cxclient_alpha/cxclient_alpha.json
      - uses: actions/upload-artifact@v2
        with:
          name: cxclient_alpha
          path: cxclient_alpha
